
  @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Luckyguy{
   margin-bottom: '20px';
    font-family: "Luckiest Guy";
    font-size: "20pt" ;
  
}


.Ultra{
   font-family: 'Marcellus';
   font-size: "20pt" ;
  font-weight: bold;
 
}

